.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 300px;
}

footer {
    background-color: #02d8c4;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron {
    padding: 10px 30px 0 0;
    margin: 30px auto;
    background-color: #fceeef;
    color: skyblue;
}

.links {
    text-align: center;
}

body {
    padding: 0px 0 0 0;
    z-index: 0;

}

.navbar {
    background-color: #02ced8;
}

.tab-content {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carousel-button {
    right:0px;
    position: absolute;
    bottom: 0px;
}
